.container {
  position: fixed;
  top: 15vh;
  left: 5vw;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90vw;
  height: 83vh;

  background-image: url("../../static/UI/bg1.png");
  background-size: 100% 100%;
  z-index: 1;
}

.titleContainer {
  position: fixed;
  top: 13.5vh;
  left: 7vw;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60vw;
  height: 5vh;
  z-index: 2;

  background-image: url("../../static/UI/Title.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.shopTitle {
  display: block;

  color: #404040;
  font-size: 23px;
  font-weight: 700;

  margin-bottom: 7px;
}

.shopCloseButton {
  position: fixed;
  top: 15.5vh;
  left: 1vw;

  width: 10vw;
  height: 10vw;

  background: none;
  background-image: url("../../static/UI/CloseButton.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;

  z-index: 2;
}

.bgCards {
  width: 80vw;
  height: 68vh;

  margin-top: 6vh;
  border-radius: 14px;
  border: 1.8px solid #dcd4cf;
  background: #fef9f1;
}

.shopCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22vw);
  justify-content: center;

  column-gap: 6px;
  row-gap: 20px;

  margin-top: 20px;
}

.shopCard {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 120px;

  background-image: url(../../static/UI/bg_buttonShop.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.imgContainer {
  display: flex;
  justify-content: center;

  width: 70px;
  height: 70px;

  border-radius: 13px;
  background: #e8d9c3;

  margin: 0 auto;
  margin-top: 20px;
}

.cardImg {
  width: 60px;
  height: 60px;
}

.db {
  background-image: url(../../static/UI/icon_shopItem_DoubleBed.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.arm {
  background-image: url(../../static/UI/icon_shopItem_Armchair.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dra {
  background-image: url(../../static/UI/icon_shopItem_Drawers.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sof {
  background-image: url(../../static/UI/icon_shopItem_Sofa.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tvhd {
  background-image: url(../../static/UI/icon_shopItem_TV.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.yar {
  background-image: url(../../static/UI/icon_shopItem_YarnBasket.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.flx {
  background-image: url(../../static/UI/icon_shopItem_FlaxPlant.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.lmp {
  background-image: url(../../static/UI/icon_shopItem_Lamp.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.rg {
  background-image: url(../../static/UI/icon_shopItem_Rug.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cardTitle {
  color: #404040;
  text-align: center;
  font-size: 12px;

  margin-top: 4px;
}

.cardPriceBg {
  width: 75px;
  height: 30px;
  margin: 0 auto;

  background-image: url(../../static/UI/buyButtonShop.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cardPriceContainer {
  display: flex;
  justify-content: center;
}

.cardPrice {
  color: #404040;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  height: 40px;
}

.shopCoinImg {
  position: absolute;
  right: 5px;
  bottom: -14px;
  width: 25px;
  height: 25px;

  background-image: url(../../static/UI/icon_MultipleSoftCurrency.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bought {
  position: absolute;
  right: 5px;
  bottom: -14px;
  width: 25px;
  height: 25px;

  background-image: url(../../static/UI/circle_OKmark.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.categories {
  display: flex;
  gap: 1vw;

  height: 7vh;

  margin-top: 1.5vh;
}

.img {
  width: 7vw;
  height: 7vw;
}

.catBg,
.catBgLight {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16vw;
  height: 6vh;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.catBg {
  background-image: url(../../static/UI/button_sectionShop_Inactive.png);
}

.catBgLight {
  background-image: url(../../static/UI/buyButtonShop.png);
}

.allImgDark {
  background-image: url(../../static/UI/icon_shopAll_Dark.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.allImg {
  background-image: url(../../static/UI/icon_shopAll_active.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sofaImg {
  background-image: url(../../static/UI/icon_shopCategory_Sofa.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sofaImgDark {
  background-image: url(../../static/UI/icon_shopCategory_Sofa_Dark.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.badImg {
  background-image: url(../../static/UI/icon_shopCategory_Bed.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.badImgDark {
  background-image: url(../../static/UI/icon_shopCategory_Bed_Dark.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gardenImg {
  background-image: url(../../static/UI/icon_shopCategory_fence.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gardenImgDark {
  background-image: url(../../static/UI/icon_shopCategory_fence_Dark.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



@media (orientation: landscape) {
  .container {
    top: 10vh;
    background-image: url("../../static/UI/bg2.png");
    height: 87vh;
  }

  .titleContainer {
    width: 30vw;
    height: 7vh;
    top: 8vh;
    padding-top: 1vh;
  }

  .shopCloseButton {
    top: 11vh;
    left: 3vw;
    width: 5vw;
    height: 5vw;
  }

  .bgCards {
    height: 72vh;
    order: 2;
    margin-top: 4vh;
  }

  .shopCards {
    grid-template-columns: repeat(auto-fill, 100px);
    margin-top: 0px;

    column-gap: 5px;
    row-gap: 25px;
  }

  .shopCard {
    height:110px;
  }

  .imgContainer {
    margin-top: 15px;
  }

  .shopCoinImg {
    bottom: -20px;
  }

  .categories {
    margin-left: auto;
    margin-right: 5px;
  }

  .catBg,
  .catBgLight {
    width: 12vw;
  height: 10vh;
  }

  .img {
    width: 7vh;
  height: 7vh;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  .shopCloseButton {
    left: 2vw;
    width: 60px;
    height: 60px;
  }

  .shopCards {
    grid-template-columns: repeat(auto-fill, 180px);
  }

  .shopCard {
    width: 160px;
  height: 200px;
  }

  .imgContainer {
    width: 140px;
  height: 140px;
  }

  .cardImg {
    width: 120px;
    height: 120px;
  }

  .cardTitle {
    font-size: 18px;
  }

  .cardPriceBg {
    width: 130px;
  height: 35px;
  }

  .cardPrice {
    font-size: 18px;
  }

  .shopCoinImg {
    width: 40px;
  height: 40px;
  }

  .bought {
    width:30px;
  height:30px;
  }
}

@media (min-height: 760px) and (orientation: landscape) {
  .shopCloseButton {
    left: 2vw;
    width: 60px;
    height: 60px;
  }

  .shopCards {
    grid-template-columns: repeat(auto-fill, 157px);
  }

  .shopCard {
    width: 160px;
  height: 200px;
  }

  .imgContainer {
    width: 140px;
  height: 140px;
  }

  .cardImg {
    width: 120px;
    height: 120px;
  }

  .cardTitle {
    font-size: 18px;
  }

  .cardPriceBg {
    width: 130px;
  height: 35px;
  }

  .cardPrice {
    font-size: 18px;
  }

  .shopCoinImg {
    width: 40px;
  height: 40px;
  }

  .bought {
    width:30px;
  height:30px;
  }
}