.topInfo {
  position: fixed;
  top: 5vh;
  left: 3vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 94vw;
}

.segment {
  position: absolute;
  width: 9vw;
  height: 9.8vh;
  background-image: url('../../static/UI/rectangle.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0;
}
.questContainer {
  position: relative;
  width: 60vw;
  height: 10vh;
  background-image: url('../../static/UI/HUD_ObjectiveTracker.png');
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.progressBar {
  width: 40vw;
  height: 4px;
  margin-right: auto;
  margin-left: 8vw;

  background-image: url('../../static/UI/bar_quest_full.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.progressUpdate {
  background-image: url('../../static/UI/bar_quest_empty.png');
  width: 0vw;
  height: 4px;
  opacity: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.resourceBg {
  width: 30vw;
  height: 5vh;

  background-image: url('../../static/UI/buyButtonShop.webp');
  background-size: 100% 100%;

  margin-bottom: 5px;
}

.resourceContainer {
  display: flex;
  justify-content: center;
}

.total {
  color: #404040;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.moneyTotalCoinImg {
  position: fixed;
  top: 4.7vh;
  right: 2vw;

  width: 40px;
  height: 40px;

  background-image: url('../../static/UI/icon_MultipleSoftCurrency.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.flowersTotalImg {
  position: fixed;
  top: 10vh;
  right: 2vw;

  width: 40px;
  height: 40px;

  background-image: url('../../static/UI/icon_resource_Flax.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (width > 576px) {
  .total {
    font-size: 22px;
  }

  .resourceBg {
    width: 25vw;
  }

  .moneyTotalCoinImg {
    width: 50px;
  height: 50px;
  }
  .flowersTotalImg {
    width: 50px;
  height: 50px;
  }
}